
.code-scroll{
  height:850px;
   overflow-y: scroll;
}

.a-title{ 
  font-family:arial; 
  text-align:right;
  font-weight: bold; 
  margin-right: 20px; 
}
.an-explantion{ 
  font-family:arial; 
  text-align:center;
  font-weight: bold;
  background-color: #dddddd; 
  margin-right: 20px;
}
#explanation-text{
  padding-left: 8px;
  font-size: 14px;
  font-family: arial;
}
#console-log{
  font-family: 'Inconsolata', monospace;  
  background-color: #eeeeee;
}
#js-div{
  float:left;
}
#js-fiddles{ 
  float:left;  
  background-color: #dddddd; 
}
#js-code{
  white-space: pre; 
  font-family: 'Inconsolata', monospace;  
  tab-size: 4;
  -moz-tab-size: 4;
  margin-left: 8px;
  /* margin-top: -32px;  */
  overflow-x:auto; 
}
#js-files{
  padding-left: 8px; 
}
#log-text{
  padding-left: 8px; 
}
#the-explanation{
  float:right; 
  background-color: #dddddd; 
}
ul{
  padding-left: 16px; 
  margin-top:0px; 
}
li{
  padding-top:6px;
} 



.font-1{ font-family:arial}
.text-2{ font-family: 'Inconsolata', monospace;   }


.text-1{ color:red; font-weight: bold; }
.text-2{ color: red; font-weight: bold; }
.text-3{ color: red; font-weight: bold; }
.text-4{ color: red; font-weight: bolder; }
.text-5{ color: red; font-weight: bolder; }
.text-6{ color: red; font-weight: bolder; }
.back-1{ background-color: rgb(255, 230, 230); }
.back-2{ background-color: rgb(230, 255, 230); }
.back-3{ background-color: rgb(230, 230, 255); }
.back-4{ background-color: rgb(255, 255, 160); }
.back-5{ background-color: rgb(255, 220, 255); }
.back-6{ background-color: rgb(200, 255, 255); }

pre{
  background-color: #eee; 
  margin-top:4px;
  margin-left:10px;
  margin-right:10px; 
  margin-bottom:16px;
}

.floating_li{
  float:left;
  margin-right: 36px;
}